<div class="content-area" *ngIf="isOpen">
    <ng-content></ng-content>
</div>

<div class="header-area">
    <ng-content select="[expander-header]"></ng-content>
</div>

<div class="toggle-area">

    <ng-container *ngIf="!customToggleExists">
        <button (click)="toggle()">
            <span *ngIf="!isOpen">+</span>
            <span *ngIf="isOpen">-</span>
        </button>
    </ng-container>

    <ng-container *ngIf="customToggleExists">
        <ng-content  select="[expander-toggle]"></ng-content>
    </ng-container>
</div>