<nav>
  <a routerLink="page-a" routerLinkActive="here">Page A</a>
  <a routerLink="page-b" routerLinkActive="here">Page B</a>
  <a routerLink="page-c" routerLinkActive="here">Page C</a>
  <a routerLink="page-d" routerLinkActive="here">Page D</a>
  <a routerLink="page-e" routerLinkActive="here">Page E</a>
</nav>

<marquee>This is a VERY LONG TEXT that is used to demonstrate something, please excuse me for using a deprecated tag</marquee>

<div class="page-area">
  <router-outlet></router-outlet>
</div>
