<div class="colors area">
  <div [class.chosen]="item === selectedColor" 
    *ngFor="let item of colors"
    (click)="selectColor(item)"
    >{{item}}</div>
</div>

<div class="sizes area">
  <div *ngFor="let item of sizes"
    [class.chosen]="item===selectedSize"
    (click)="selectSize(item)"
  >{{item}}</div>
</div>

<div class="fonts area">
  <div *ngFor="let item of fonts"
    [class.chosen]="item===selectedFont"
    (click)="selectFont(item)"
  >{{item}}</div>
</div>

<div class="text area">
  <textarea
    [style.color]="selectedColor"
    [style.font-size]="selectedSize"
    [style.font-family]="selectedFont"
  ></textarea>
</div>