:host {
    display: flex;
    flex-direction: column;
}

.toolbar {
    display:  flex;
    flex-direction: row;
    height: 40px;
}

img {
    height: 100%;
}

.results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.results > div {
    padding: 8px;
    border: 1px solid black;
    margin: 4px;
}